
@{
    ViewBag.Title = "Load data";
}

<h2>Load data</h2>

<p>The following actions are supported:</p>
<ul>
    <li>/LoadData/Genres</li>
    <li>/LoadData/Actors</li>
    <li>/LoadData/Shows</li>
    <li>/LoadData/Episodes</li>
</ul>
