<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/059e5da0-99b6-4125-82d8-8bb8acd6d5bb/resourceGroups/WEB524/providers/Microsoft.Web/sites/aasoni2-wa-web524-a5</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aasoni2-wa-web524-a5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>aasoni2-wa-web524-a5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aasoni2-wa-web524-a5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$aasoni2-wa-web524-a5</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:aasoni2-ds-web524.database.windows.net,1433;Initial Catalog=aasoni2-db-web524-a5;Persist Security Info=False;User ID=aasoni2;Password=Aumsoni@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:aasoni2-ds-web524.database.windows.net,1433;Initial Catalog=aasoni2-db-web524-a5;Persist Security Info=False;User ID=aasoni2;Password=Aumsoni@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AAS2237A5.Models.ApplicationDbContext, Web App Project Template V2" MigrationConfiguration="AAS2237A5.Migrations.Configuration, Web App Project Template V2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:aasoni2-ds-web524.database.windows.net,1433;Initial Catalog=aasoni2-db-web524-a5;Persist Security Info=False;User ID=aasoni2;Password=Aumsoni@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>